<!--
  <a href="/">
  -->
<a [routerLink]="['/']">
  <h1>Todo list</h1>
</a>


<div *ngIf="this.authService.isAuthorized">
  
  <a [routerLink]="['/profile']">
    <img height="64" width="64" [src]="this.userService.user.avatar ? this.userService.user.avatar: '/assets/default-avatar.png' " style="position: relative; right: -10%;">
  </a>
  <br>  
  <div  class="button fancy-button logout" (click)="logout()">
    <i class="material-icons" style="font-size: 18px;" >logout</i>Logout
  </div>


</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->