.todo-list-element{
    margin: 10px;

}
.todo-list-name,
.todo-list-counters,
.control-remove{
    cursor: pointer;
}

.selected{
    font-weight: bold;    
}

.todo-list-control{
    margin: 10px;
}