
<ngx-spinner>
  <p style="color: white" ></p>
</ngx-spinner>


<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="username">
        User name:
        <br>
        <input id="username" type="text" formControlName="username" >
    </label>
      
      <!-- Validation highlight -->
      <div *ngIf="registrationForm.controls['username'].invalid && (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)" class="alert alert-danger">
        <div class="invalid-feedback" *ngIf="registrationForm.controls['username'].errors" style="color: crimson;">
          <sup style="color: crimson;">*</sup>Please enter your username
          <br><br>
        </div>
    </div>

    </div>

    <div>
      <label for="email">
        Email:
        <br>
        <input id="email" type="text" formControlName="email" >
    </label>

      <!-- Validation highlight -->
      <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)" class="alert alert-danger">
        <div class="invalid-feedback" *ngIf="registrationForm.controls['email'].errors" style="color: crimson;">
          <sup style="color: crimson;">*</sup>Please enter your email
          <br><br>
        </div>
      </div>

    </div>
  
    <div>
      <label for="password">
        Password:
        <br>
        <input id="password" type="text" formControlName="password" >
    </label>
      
      <!-- Validation highlight -->
      <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)" class="alert alert-danger">
        <div class="invalid-feedback" *ngIf="registrationForm.controls['password'].errors" style="color: crimson;">
          <sup style="color: crimson;">*</sup>Please enter your password
          <br><br>
        </div>
      </div>
    </div>
    
    <button class="button" type="submit" [disabled]="!registrationForm.valid">Register</button>
  
  </form>