<h1>Main Page.</h1>
<h2>Under construction...</h2>

<div class="data-container">
    
<!---
    <button id="logoutButton" name="logoutButton" style="margin:5px; position:absolute; right:0%;">Logout</button>
--->
    <table cols=2 border="1" width="100%" height="100%">
        <tr>
            <th width="40%">ToDo lists</th>
            <th>Items</th>
        </tr>
        <tr>
            <td>
                <app-todo-lists></app-todo-lists>
            </td>

            <td>
                <app-todo-items></app-todo-items>
            </td>
        </tr>
    </table>
</div>