
<ngx-spinner>
  <p style="color: white" ></p>
</ngx-spinner>

<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
          <label for="email">
            Email:
          </label>
          <input id="email" name="email" type="text" formControlName="email">

          
          <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger">
            
            <div class="invalid-feedback" *ngIf="loginForm.controls['email'].errors" style="color: crimson;">
              <sup style="color: crimson;">*</sup>Please enter your email
              <br><br>
            </div>

          </div>

      </div>
    
      <div>
        <label for="password">
          Password:
        </label>
        <input id="password" name="password" type="password" formControlName="password">
        
        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
          <div class="invalid-feedback" *ngIf="loginForm.controls['password'].errors" style="color: crimson;">
            <!---
            {{loginForm.controls['password'].errors | json}}
            -->
            <sup style="color: crimson;">*</sup>Please enter your password
            <br><br>
          </div>
        </div>
      
      </div>
      
      <button class="button" type="submit" [disabled]="!loginForm.valid">Login</button>
      
      <br><br>
      <a [routerLink]="['/register']">Register</a>
<!--
      <br><br><br><br>
      <div class="button" (click)="CheckAuth()">Check Auth</div>
      -->
      
      
  </form>
</div>